<link rel="stylesheet" href="~/css/login_and_registration.css" />
 
@model TravelAgency.Domain.ViewModels.LoginRegistrView

<div class="container-login-registration">
    <div class="block-container">

        <div class="block">
            <section class="block_item block-item">
                <h2 class="block-item_title">У вас уже есть аккаунт?</h2>
                <button class="block-item_btn signin-btn">Войти</button>
            </section>
            <section class="block_item block-item">
                <h2 class="block-item_title">У вас ещё нет аккаунта?</h2>
                <button class="block-item_btn signup-btn">Зарегистрироваться</button>
            </section>
        </div>
        <div class="form-box">
            @*asp-action="Login" asp-controller="Home"*@
            <form class="form form_signin">


                <h3 class="form_title">Вход</h3>
                <label  >
                    <input @*asp-for="@Model.Login.Email"*@ id="signin_email" type="email" placeholder=" " />
                    <span>Почта</span>
                </label>
                <label >
                    <input @*asp-for="@Model.Login.Password"*@ id="signin_password" type="password" placeholder=" "  />
                    <span>Пароль</span>
                </label>
                <div class="form-btn form_btn_signin" @*type="submit"*@>Войти</div>

                <div id="error-messages-signin"></div>

            </form>
            @*asp-action="Register" asp-controller="Home"*@
            <form class="form form_signup">
                <h3 class="form_title">Регистрация</h3>
                <label>
                    <input @*asp-for="@Model.Register.Login"*@ type="text" placeholder=" " id="signup_login" />
                    <span>Логин</span>
                </label>
                <label>
                    <input @*asp-for="@Model.Register.Email"*@ type="email" placeholder=" " id="signup_email" />
                    <span>Почта</span>
                </label>
                <label>
                    <input @*asp-for="@Model.Register.Password"*@ type="password" placeholder=" " id="signup_password" />
                    <span>Пароль</span>
                </label>
                <label>
                    <input @*asp-for="@Model.Register.PasswordConfirm"*@ type="password" placeholder=" " id="signup_confirm_password" />
                    <span>Подтвердите пароль</span>
                </label>
                <div class="form-btn form_btn_signup" @*type="submit"*@>Зарегистрироваться</div>

                <div id="error-messages-signup"></div>
            </form>
        </div>
    </div>
    <div class="overlay"></div>
</div>